.container {
    width: 60%;
    margin: auto;
    text-align: center;
}

.form {
    margin-bottom: 20px;
}

input {
    padding: 8px;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 8px 12px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

.delete-btn {
    background-color: #dc3545;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.delete-btn:hover {
    background-color: #c82333;
}